{% extends 'base.html.twig' %}

{% block title %}Plateforme de mise en relation {% endblock %}

{% block body %}




<!-- ============================ Hero Banner  Start================================== -->
<div class="image-bg hero-header" style="background:#2540a2 url(assets/img/banner-2.jpg) no-repeat;" data-overlay="0">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12">
				<div class="inner-banner-text ">
					<h1>Plateforme de mise en relation n°1 sur le transport à Djibouti</h1>
					<p class="text-light h6">
						<i class="fa-solid fa-arrow-right-long text-success"></i> Commander un camion rapide
						fiable et
						securisé par tout à Djibouti en Ethiopie ou
						somalilande.
					</p>
				</div>


			</div>

			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="search-from-clasic">
					<div class="hero-search-content">
						<div class="row">

							<div class="col-12 ">
								<div class="classic-search-box">

									<div class="form-group full">
										<div class="input-with-icon">
											<input type="text" class="form-control" placeholder="Ville de debart">
											<img src="assets/img/pin.svg" width="20" alt="">
										</div>
										<div class="input-with-icon mt-2">
											<input type="text" class="form-control" placeholder="Ville d'arriver">
											<img src="assets/img/pin.svg" width="20" alt="">
										</div>
									</div>
								</div>
							</div>

							<div class="col-12 mt-3">
								<div class="form-group">
									<button type="submit" class="btn btn-secondary full-width">Rechercher</button>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ============================ Hero Banner End ================================== -->

<!-- ============================ Our Partners Start ================================== -->
<section class="gray-simple min">
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-10 text-center">
				<div class="sec-heading center mb-4">
					<h4>Deja plusieurs compagnie nous fait confiance</h4>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-12">
				<div class="brand-slide" id="brand-slide">

					<div class="single-brand">
						<figure class="thumb-figure">
							<img src="assets/img/airbnb.png" class="img-fluid" alt="">
						</figure>
					</div>

					<div class="single-brand">
						<figure class="thumb-figure">
							<img src="assets/img/amazon.png" class="img-fluid" alt="">
						</figure>
					</div>

					<div class="single-brand">
						<figure class="thumb-figure">
							<img src="assets/img/googl.png" class="img-fluid" alt="">
						</figure>
					</div>

					<div class="single-brand">
						<figure class="thumb-figure">
							<img src="assets/img/pp.png" class="img-fluid" alt="">
						</figure>
					</div>

					<div class="single-brand">
						<figure class="thumb-figure">
							<img src="assets/img/samsung.png" class="img-fluid" alt="">
						</figure>
					</div>

					<div class="single-brand">
						<figure class="thumb-figure">
							<img src="assets/img/pp.png" class="img-fluid" alt="">
						</figure>
					</div>


					<div class="single-brand">
						<figure class="thumb-figure">
							<img src="assets/img/airbnb.png" class="img-fluid" alt="">
						</figure>
					</div>

					<div class="single-brand">
						<figure class="thumb-figure">
							<img src="assets/img/airbnb.png" class="img-fluid" alt="">
						</figure>
					</div>


				</div>
			</div>
		</div>

	</div>
</section>
<div class="clearfix"></div>
<!-- ============================ Our Partners End ================================== -->

<!-- ============================ Latest Property For Sale Start ================================== -->
<section class="mid">
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-10 text-center">
				<div class="sec-heading center mb-4">
					<h2>Les derniers services publier</h2>
					<br>
					<i class="fa-solid fa-circle-down text-danger h2"></i>
				</div>
			</div>
		</div>

		<div class="row justify-content-center gx-3 gy-4">

			<!-- Single Property -->
			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
				<div class="veshm-list-wraps">
					<div class="veshm-type fr-sale"><span>Disponible</span></div>

					<div class="veshm-list-thumb">

						<img src="assets/img/camions/camion1.jpg" alt="" srcset="">
					</div>
					<div class="veshm-list-block">
						<div class="veshm-tags trending"><span><i class="fa-solid fa-meteor"></i>Nouveau</span>
						</div>
						<div class="veshm-list-head">
							<div class="veshm-list-head-caption">
								<div class="rlhc-price">
									<h4 class="rlhc-price-name theme-cl">105 000 fdj</h4>
								</div>
								<div class="listing-short-detail-flex">
									<h5 class="rlhc-title-name verified"><a href="" class="prt-link-detail">Un
											camion</a></h5>
									<div class="rlhc-prt-location">
										<img src="assets/img/pin.svg" width="16" class="me-1" alt="">Débart :
										Djibouti ville
									</div>
									<div class="rlhc-prt-location">
										<img src="assets/img/pin.svg" width="16" class="me-1" alt="">Arrivé :
										Regions Interieurs
									</div>
								</div>
							</div>
							<div class="veshm-list-head-flex">
								<button class="btn btn-like" type="button"><i class="fa-solid fa-cart-plus"></i></button>
							</div>
						</div>

						<div class="veshm-list-footer">
							<div class="veshm-list-circls">
								<ul>
									<li><span class="bed-inf"><i class="fa-solid fa-truck-field"></i></span>2
										place</li>
									<li><span class="bath-inf"><i class="fa-solid fa-mobile-screen-button"></i></span>phone</li>
									<li><span class="area-inf"><i class="fa-solid fa-vector-square"></i></span>2200</li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- End Single Property -->



			<!-- Single Property -->
			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
				<div class="veshm-list-wraps">
					<div class="veshm-type fr-sale"><span>Disponible</span></div>

					<div class="veshm-list-thumb">

						<img src="assets/img/camions/camion2.jpeg" alt="" srcset="">
					</div>
					<div class="veshm-list-block">
						<div class="veshm-tags trending"><span><i class="fa-solid fa-meteor"></i>5 ans de
								travaille</span>
						</div>
						<div class="veshm-list-head">
							<div class="veshm-list-head-caption">
								<div class="rlhc-price">
									<h4 class="rlhc-price-name theme-cl">80 000 fdj</h4>
								</div>
								<div class="listing-short-detail-flex">
									<h5 class="rlhc-title-name verified"><a href="" class="prt-link-detail">Un
											camion</a></h5>
									<div class="rlhc-prt-location">
										<img src="assets/img/pin.svg" width="16" class="me-1" alt="">Débart :
										Djibouti ville
									</div>
									<div class="rlhc-prt-location">
										<img src="assets/img/pin.svg" width="16" class="me-1" alt="">Arrivé :
										Ethiopie
									</div>
								</div>
							</div>
							<div class="veshm-list-head-flex">
								<button class="btn btn-like" type="button"><i class="fa-solid fa-cart-plus"></i></button>
							</div>
						</div>

						<div class="veshm-list-footer">
							<div class="veshm-list-circls">
								<ul>
									<li><span class="bed-inf"><i class="fa-solid fa-truck-field"></i></span>1
										place</li>
									<li><span class="bath-inf"><i class="fa-solid fa-mobile-screen-button"></i></span>phone</li>
									<li><span class="area-inf"><i class="fa-solid fa-vector-square"></i></span>2200</li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- End Single Property -->


			<!-- Single Property -->
			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
				<div class="veshm-list-wraps">
					<div class="veshm-type"><span>Non Disponible</span></div>

					<div class="veshm-list-thumb">

						<img src="assets/img/camions/camion2.jpeg" alt="" srcset="">
					</div>
					<div class="veshm-list-block">

						<div class="veshm-list-head">
							<div class="veshm-list-head-caption">
								<div class="rlhc-price">
									<h4 class="rlhc-price-name theme-cl">50 000 fdj</h4>
								</div>
								<div class="listing-short-detail-flex">
									<h5 class="rlhc-title-name verified"><a href="" class="prt-link-detail">Un
											camion</a></h5>
									<div class="rlhc-prt-location">
										<img src="assets/img/pin.svg" width="16" class="me-1" alt="">Débart :
										Djibouti ville
									</div>
									<div class="rlhc-prt-location">
										<img src="assets/img/pin.svg" width="16" class="me-1" alt="">Arrivé :
										Ethiopie
									</div>
								</div>
							</div>
							<div class="veshm-list-head-flex">
								<button class="btn btn-like" type="button"><i class="fa-solid fa-cart-plus"></i></button>
							</div>
						</div>

						<div class="veshm-list-footer">
							<div class="veshm-list-circls">
								<ul>
									<li><span class="bed-inf"><i class="fa-solid fa-truck-field"></i></span>0
										place</li>
									<li><span class="bath-inf"><i class="fa-solid fa-mobile-screen-button"></i></span>phone</li>
									<li><span class="area-inf"><i class="fa-solid fa-vector-square"></i></span>2200</li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- End Single Property -->




		</div>

	</div>
</section>
<!-- ============================ Latest Property For Sale End ================================== -->

<!-- ============================ Better Services ================================== -->
<section class="classic-bg">
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-10 text-center">
				<div class="sec-heading center light">
					<h2>Nos offres</h2>
					<p>Client ou fournisseur obtez une bonne relation, en vous propose nos offres ci-dessous</p>
				</div>
			</div>
		</div>

		<div class="row gy-5">

			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
				<div class="veshm-servs-box light">
					<div class="veshm-servs-box-icon">
						<div class="veshm-posted-figure"><i class="fa-solid fa-truck-field"></i></div>
					</div>
					<div class="veshm-servs-box-caption">
						<h4>Fournisseurs</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
							Ipsum
							has been the industry's standard dummy text ever since the 1500s, when an unknown
							printer took.</p>
					</div>
				</div>
			</div>

			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
				<div class="veshm-servs-box light">
					<div class="veshm-servs-box-icon">
						<div class="veshm-posted-figure"><i class="fa-solid fa-user"></i></div>
					</div>
					<div class="veshm-servs-box-caption">
						<h4>Clients</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
							Ipsum
							has been the industry's standard dummy text ever since the 1500s, when an unknown
							printer too.</p>
					</div>
				</div>
			</div>



		</div>

	</div>
</section>
<!-- ============================ Better Services ================================== -->

<!-- ============================ Select Your City ================================== -->
<section>
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-10 text-center">
				<div class="sec-heading center">
					<h2>Choisir un pays</h2>
					<p>Selectionner votre pays pour voir les fournisseurs disponible</p>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">

			<div class="col-lg-3 col-md-3  col-12">
				<div class="veshm-location-prt">

					<a href="" class="veshm-location-figure">
						<img src="assets/img/camions/d_dj.jpeg" class="img-fluid" alt="">
					</a>
					<div class="veshm-location-content">
						<h4>Djibouti, ville</h4>
						<div class="vesh-aget-rates">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<span class="resy-98">322 avis</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-12">
				<div class="veshm-location-prt">
					<a href="" class="veshm-location-figure">
						<img src="assets/img/camions/d_ethi.jpeg" class="img-fluid" alt="">
					</a>
					<div class="veshm-location-content">
						<h4>Ethiopie, Addis-abebba</h4>
						<div class="vesh-aget-rates">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<span class="resy-98">410 avis</span>
						</div>
					</div>
				</div>
			</div>




		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 text-center">
				<a href="JavaScript:Void(0);" class="btn btn-outline-gray">Voir toutes<i class="fa-regular fa-circle-right ms-2"></i></a>
			</div>
		</div>

	</div>
</section>
<!-- ============================ Select Your City ================================== -->


{% endblock %}
