{% extends 'base.html.twig' %}

{% block title %}
  Panier
{% endblock %}

{% block body %}
 

<!-- ============================ Page Title Start================================== -->
<div class="page-title" style="background:#017efa url(assets/img/page-title.png) no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2 class="text-light">Votre panier</h2>
            </div>
        </div>
    </div>
</div>
<!-- ============================ Page Title End ================================== -->



<div class="container">


    <div class="row mt-5 mb-5">

        <div class="col-12 col-md-7">
            <div class="veshm-list-prty">
                <div class="veshm-list-prty-figure">
                    <div class="veshm-list-img-slide">
                        <div class="veshm-list-click">
                            <div><a href="single-property-1.html"><img src="assets/img/camions/camion1.jpg" class="img-fluid mx-auto" alt=""></a></div>

                        </div>
                    </div>
                </div>
                <div class="veshm-list-prty-caption">
                    <div class="veshm-list-kygf">
                        <div class="veshm-list-kygf-flex">
                            <div class="veshm-type fr-sale"><span>Disponible</span></div>
                            <h5 class="rlhc-title-name verified"><a href="single-property-1.html" class="prt-link-detail">Nom du camion</a></h5>
                            <div class="vesh-aget-rates">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>

                            </div>
                        </div>

                        <div class="veshm-list-head-flex">
                            <button class="btn btn-like active" type="button"><i class="fa-solid fa-heart-circle-check"></i></button>
                        </div>
                    </div>
                    <div class="rlhc-prt-location">
                        <img src="assets/img/pin.svg" width="16" class="me-1" alt="">Débart :
                        Djibouti ville
                    </div>
                    <div class="rlhc-prt-location">
                        <img src="assets/img/pin.svg" width="16" class="me-1" alt="">Arrivé :
                        Regions Interieurs
                    </div>

                    <div class="veshm-list-footer">
                        <div class="veshm-list-circls">
                            <ul>
                                <li><span class="bed-inf"><i class="fa-solid fa-truck-field"></i></span>2
                                    place</li>
                                <li><span class="bath-inf"><i class="fa-solid fa-mobile-screen-button"></i></span>phone</li>
                                <li><span class="area-inf"><i class="fa-solid fa-vector-square"></i></span>2200</li>
                            </ul>
                        </div>
                    </div>
                    <div class="veshm-list-footers">
                        <div class="veshm-list-ftr786">
                            <div class="rlhc-price">
                                <h4 class="rlhc-price-name theme-cl">50 000 FDJ</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="veshm-list-prty mt-3">
                <div class="veshm-list-prty-figure">
                    <div class="veshm-list-img-slide">
                        <div class="veshm-list-click">
                            <div><a href="single-property-1.html"><img src="assets/img/camions/camion1.jpg" class="img-fluid mx-auto" alt=""></a></div>

                        </div>
                    </div>
                </div>
                <div class="veshm-list-prty-caption">
                    <div class="veshm-list-kygf">
                        <div class="veshm-list-kygf-flex">
                            <div class="veshm-type fr-sale"><span>Disponible</span></div>
                            <h5 class="rlhc-title-name verified"><a href="single-property-1.html" class="prt-link-detail">Nom du camion</a></h5>
                            <div class="vesh-aget-rates">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>

                            </div>
                        </div>

                        <div class="veshm-list-head-flex">
                            <button class="btn btn-like active" type="button"><i class="fa-solid fa-heart-circle-check"></i></button>
                        </div>
                    </div>
                    <div class="rlhc-prt-location">
                        <img src="assets/img/pin.svg" width="16" class="me-1" alt="">Débart :
                        Djibouti ville
                    </div>
                    <div class="rlhc-prt-location">
                        <img src="assets/img/pin.svg" width="16" class="me-1" alt="">Arrivé :
                        Regions Interieurs
                    </div>

                    <div class="veshm-list-footer">
                        <div class="veshm-list-circls">
                            <ul>
                                <li><span class="bed-inf"><i class="fa-solid fa-truck-field"></i></span>2
                                    place</li>
                                <li><span class="bath-inf"><i class="fa-solid fa-mobile-screen-button"></i></span>phone</li>
                                <li><span class="area-inf"><i class="fa-solid fa-vector-square"></i></span>2200</li>
                            </ul>
                        </div>
                    </div>
                    <div class="veshm-list-footers">
                        <div class="veshm-list-ftr786">
                            <div class="rlhc-price">
                                <h4 class="rlhc-price-name theme-cl">100 000 FDJ</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-5">
            <div class="check-ourio-wrap">
                <div class="check-ourio-head">
                    <h5>Commandé le service</h5>
                </div>
                <div class="check-ourio-caption">



                    <div class="booking-info-try rounded bg-light-success border border-success mb-4">
                        <ul>
                            <li>
                                <h6>#12KJ469</h6><span>50 000 fdj</span>
                            </li>
                            <li>
                                <h6>#1KH492</h6><span>100 000 fdj</span>
                            </li>


                            <li>
                                <h6 class="total-title">Total</h6><span class="total-price">150 000 fdj</span>
                            </li>
                        </ul>
                    </div>
                    <button class="btn btn-theme font--medium full-width">Confirmer le paiement</button>
                </div>

            </div>
        </div>

    </div>

{% endblock %}
